---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# Begin header #}
	{% include "partials/_header.html" %}
	{# End header #}

	{# Begin hero #}
	{% include "partials/_hero.html" %}
	{# End hero #}

	{# Begin services #}
	{% include "partials/_services.html" %}
	{# End services #}

	{# Begin realization #}
	{% include "partials/_realization.html" %}
	{# End realization #}

	{# Begin purchase-block #}
	{% include "partials/_purchase-block.html" %}
	{# End purchase-block #}

	{# Begin projects #}
	{% include "partials/_projects.html" %}
	{# End projects #}

	{# Begin counters #}
	{% include "partials/_counters.html" %}
	{# End counters #}

	{# Begin mob-devices #}
	{% include "partials/_mob-devices.html" %}
	{# End mob-devices #}

	{# Begin partners #}
	{% include "partials/_partners.html" %}
	{# End partners #}

	{# Begin footer #}
	{% include "partials/_footer.html" %}
	{# End footer #}


{% endblock %}
