<footer class="footer">
    <div class="footer__inner inner">
        <div class="footer__content">
            <div class="footer__left">
                <div class="footer__copyright">
                    Copyright © 2015
                    <span> Waxom</span>
                </div>
                <ul class="footer__menu footer-menu">
                    {% for item in [
                        'Privacy Policy',
                        'FAQ',
                        'Support'
                    ] %}
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">{{ item }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__right">
                <div class="footer__item">
                    Designed by <span>ThemeFire</span>
                </div>
                <div class="footer__item">
                    Only on <span>Envato Market</span>
                </div>
            </div>
        </div>
    </div>
</footer>