<header class="header js-header">
    <div class="header__inner inner">
        <div class="header__top">
            <div class="header__phones">
                <div class="phone phone__life">
                    <a href="tel:1234567890">1234567890</a>
                </div>
                <div class="phone phone__mts">
                    <a href="tel:1234567890">1234567890</a>
                </div>
                <div class="phone phone__kyivstar">
                    <a href="tel:1234567890">1234567890</a>
                </div>
            </div>
        </div>
        <div class="header__content">
            <a href="#" class="header__logo">
                <h1>
                    <img src="./img/logos@2x.png" alt="logo">
                    Waxom
                </h1>
            </a>
            <nav class="header__nav">
                <button type="button" class="toggle-menu js-toggle-menu">
                    <span class="sandwich js-sandwich">
                        <span class="sw-topper"></span>
                        <span class="sw-bottom"><span class="sw-bottom__inner"></span></span>
                        <span class="sw-footer"></span>
                    </span>
                </button>
                <ul class="main-menu">
                    {% for item in [
                        {
                            link: 'home',
                            text:'Home'
                        },
                        {
                            link: 'about',
                            text: 'About Us'
                        },
                        {
                            link: 'stats',
                            text: 'Stats'
                        },
                        {
                            link: 'projects',
                            text: 'Projects'
                        },
                        {
                            link: 'features',
                            text: 'Features'
                        },
                        {
                            link: 'partners',
                            text: 'Partners'
                        }
                    ] %}
                        <li class="main-menu__item"><a href="#{{ item.link }}" class="main-menu__link js-menu-link">{{ item.text }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
