<section class="purchase-block gradient-bg">
    <div class="purchase-block__inner inner">
        <div class="purchase-block__content">
            <div class="purchase-block__info">
                <h3 class="purchase-block__title">
                    <span>Waxom</span> Multipurpose WordPress Theme
                </h3>
                <div class="purchase-block__text">
                    Don't Forget to Rate the Template. Thanks so much!
                </div>
            </div>
            <div class="purchase-block__btn">
                <a href="#" class="btn">PURCHASE now</a>
            </div>
        </div>
    </div>
</section>