<section class="realization">
    <div class="realization__inner inner">
        <h3 class="realization__title title">
            Waxom is Realization of your Ideas.
        </h3>
        <div class="realization__subtitle subtitle">
            Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        </div>
        <div class="realization__content">
            <img src="./img/realization-bg.png" alt="img">
        </div>
    </div>
</section>