.icon-arrow-left {
  width: 0.55em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.55em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow {
  width: 3em;
  height: 1em;
  fill: currentColor;
}
.icon-coffee {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
}
.icon-customization {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-development {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-launch {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-lupa {
  width: 1.03em;
  height: 1em;
  fill: currentColor;
}
.icon-marketing {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
.icon-pencil {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-post {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-small-arrow {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-users {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
